streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
torch==2.3.1
scikit-learn==1.4.2
torchtuples==0.2.2
plotly==5.22.0
matplotlib==3.8.4
seaborn==0.13.2
lifelines==0.27.8
dice-ml==0.10
langchain==0.2.6
langchain-core==0.2.16
langchain-openai==0.1.14
langchain-google-genai==1.0.6
langgraph==0.0.50
langchain-huggingface==0.0.3
huggingface_hub==0.23.1
requests==2.32.2
pytest==8.2.2
